$widthPC: 1024px; //PC
$widthTab: 768px; //タブレット
$widthSp: 568px; //スマートフォン

@mixin tab {
  @media (min-width: $widthTab) and (max-width: ($widthPC)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($widthTab)) {
    @content;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: url(bg-image.jpg) repeat left top;/* IE6～8用の背景画像 */
}
#big-video-wrap {
  color: #b9f8ff;/* 動画のメッセージを目立たなくする */
  z-index: 1;
}
/*IE8では動画非表示*/
html>/**/body #big-video-wrap {
  display/*\**/: none\9;
}
/*IE9では動画表示*/
body:not(:target) #big-video-wrap{
  display: block;
}
#content {
  position: fixed;
  left:20px;
  top: 20px;
  width: 85%;
  z-index: 100;
  background: rgba(255,255,255,.5);
  padding: 10px;

}
#headerContainer {
  min-height: auto;
  padding: 0;
  background: rgba( 0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  padding: 8px 0;
  min-height: 24px;
  z-index: 100;
}

.inner {
  position: relative;
  width: 93%;
  margin-left: 5%;
  margin-right: 2%;
}

#siteID {
    font-size: 3.0em;
    line-height: 1.1;
    font-weight: 400;
    margin: 0 0 0 8px;
    padding: 12px 0 14px;
    color: #fff;
    letter-spacing: 0.01em;
    text-shadow: 3px 3px 0px rgba( 0, 0, 0, 0.5);
    font-family: cursive;
  @include tab {
    font-size: 3.0em;
    line-height: 1.1;
    font-weight: 400;
    margin: 0 0 0 8px;
    padding: 12px 0 14px;
    letter-spacing: 0.01em;
    text-shadow: 3px 3px 0px rgba( 0, 0, 0, 0.5);
    font-family: cursive;
    color: red;
  }
  @include sp{
    font-size: 3.0em;
    line-height: 1.1;
    font-weight: 400;
    margin: 0 0 0 8px;
    padding: 12px 0 14px;
    color: black;
    letter-spacing: 0.01em;
    text-shadow: 3px 3px 0px rgba( 0, 0, 0, 0.5);
    font-family: cursive;
  }

}

.small {
  display: inline;
  font-size: 0.7em;
  color: #fff;
}

#navigation {
  top: 0;
  position: absolute;
  right: 0;
  top: 2em;
  overflow: hidden;
  z-index: 10;
}

#navigation ul, #navigation li{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#navigation li{
  float: left;
  font-size: 1.6em;
  margin: 1px 0 0 1px;
  font-family: 'Roboto Condensed', Arial, Helvetica, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#navigation a{
  display: block;
  line-height: 0.4;
  text-align: center;
  padding: 20px 2em 21px;
  background: rgba( 255, 255, 255, 0);
  color: #fff;
  text-decoration: none;
  font-family: cursive;
}



#img {

}

#icon {
  height: 70px;
  background: rgba(0,0,0,0.6);
}

#footerContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: #000;
  padding: 12px 0;
  height: 72px;
}

#copyright {
  color: #fff;
  text-align: right;
  font-size: 1.0em;
  margin: 0;
  line-height: 10.5;
  margin-right: -20px;
}

